* {

    font-family: sans-serif;
    color: var(--primary-color);
    box-sizing: border-box;

}

:root{

    --primary-color: hsl(168, 5%, 20%);
    --secondary-color: hsl(0, 0%, 100%);
    --button-color:  #73A393;
    --background-color: #F4F7F6;
    --tag-color: #9EC7B9;
    --accent-color: #7DBCA7;

}