.card__button{
    
    font-size: 18px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50%;
    align-items: center;
    margin-left: 25%;
    
  }

  